.pagination li :not(.previous .next ){
    color: black;
    color: black;
  float: left;
  padding: 2px 12px;
  text-decoration: none;
  margin: 2px;
   
}
.pagination__link--active{
    background-color: #f39e8e;
    color: white;
    border-radius: 5px;
  }
.pagination li:hover:not(.pagination__link--active) {
    background-color: #ddd;
    border-radius: 5px;
  }